body {
  background: rgb(32, 32, 36);
  color: #fff;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: cyan;
  font-size: 15px;
  position: relative;
}
a span {
  color: #fff;
  font-size: 11px;
}
ul {
  padding-left: 30px;
  margin: 0;
}
li {
  margin-bottom: 5px;
}
p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
button {
  padding: 0;
  margin: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page {
  width: 100%;
  height: 100%;
}
.content-box {
  overflow-y: auto;
  width: 100%;
  max-width: 500px;
  height: 95%;
  border: 2px solid #fff;
  border-radius: 24px 0 0 24px;
  padding: 0 15px;
}
.content-box::-webkit-scrollbar {
  width: 3px; /* 스크롤바의 너비 */
}
.content-box::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #b2b2b2; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.content-box::-webkit-scrollbar-track {
  background: rgb(32, 32, 36); /*스크롤바 뒷 배경 색상*/
}
.title {
  font-size: 17px;
  font-weight: bold;
}
.detail {
  margin-top: 5px;
  font-size: 15px;
}
.content-wrap {
  padding: 15px 0;
  border-bottom: 1px dotted #fff;
}
.img-sec {
}
.img-sec img {
  width: 100%;
}
p.desc {
  margin: 10px 0 5px 0;
  font-size: 10px;
}
.plan-title {
  margin: 5px 0;
}
